@model dotnet_sandbox.mvc.Models.MainPageViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@*Render the main content*@

<h4>MainPageViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MainPageName" class="control-label"></label>
                <input asp-for="MainPageName" class="form-control" />
                <span asp-validation-for="MainPageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@*Render a first collection over there*@
<div>
    <h3>First Partial</h3>
    <partial name="_firstPartial" model="Model.FirstPartialModel" />
</div>


<hr />
@*Render a second collection over there*@

<div>
    <h3>Second Partial</h3>
    <partial name="_secondPartial" model="Model.SecondPartialModel" />
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
